# Git
# .git - project uses submodules
.gitignore
.gitmodules
.gitattributes
.github

# Docker
Dockerfile
docker-compose.yml
.dockerignore
.devcontainer

# Doesn't come inside this image
interface 
sc-web
knowledge-base
repo.path
build
bin
install
ConanPresets.json

# Docs
docs
mkdocs.yml
README.md

# macOS (optional)
.DS_Store

# IDEs (optional)
.vscode
.idea
.clang-format
.pre-commit-config.yaml
.pylintrc

# Node.js
node_modules
