[submodule "subsystems/ostis-inference"]
	path = subsystems/ostis-inference
	url = https://github.com/ostis-apps/ostis-inference
[submodule "sc-machine"]
	path = problem-solver/sc-machine
	url = https://github.com/ostis-ai/sc-machine
	branch = main
[submodule "ims.ostis.kb"]
	path = kb/ims.ostis.kb
	url = https://github.com/ostis-ai/ims.ostis.kb
	branch = main
[submodule "sc-web"]
	path = sc-web
	url = https://github.com/ostis-ai/sc-web
	branch = main
