[submodule "subsystems/scl-machine"]
	path = subsystems/scl-machine
	url = https://github.com/ostis-ai/scl-machine
[submodule "sc-web"]
	path = sc-web
	url = https://github.com/ostis-ai/sc-web
	branch = main
[submodule "problem-solver/sc-machine"]
	path = problem-solver/sc-machine
	url = https://github.com/ostis-ai/sc-machine
[submodule "kb/ims.ostis.kb"]
	path = kb/ims.ostis.kb
	url = https://github.com/ostis-ai/ims.ostis.kb
