.idea
.vscode
.cache
cmake-build-debug
cmake-build-release
/build
/bin
*.db
secret.txt
kb.bin-tests
repo
/ConanPresets.json

.venv
*.pyc
*/__pycache__/*
.coverage
.env%

*.scs~
kb.bin
install

__pycache__

sc-server.log

.DS_Store
