.idea
.vscode
.cache
cmake-build-debug
cmake-build-release
/build
/bin
*.db
secret.txt
kb.bin-tests

.venv
*.pyc
*/__pycache__/*
.coverage
.env%

*.scs~
ostis
ostis-web-platform
kb.bin

__pycache__

sc-server.log

.DS_Store
