services:
  web:
    image: ostis/sc-web:prerelease-0.8.0
    build:
      context: ./sc-web
      dockerfile: ./Dockerfile
    container_name: nika-sc-web
    restart: unless-stopped
    ports:
      - "8000:8000"
    expose:
      - 8000
    networks:
      - nika
    command:
      - "--server-host=problem-solver"
    depends_on:
      problem-solver:
        condition: service_healthy

  problem-solver:
    image: ostis/nika:latest
    build:
      context: ./
      dockerfile: ./Dockerfile
    container_name: nika-problem-solver
    restart: unless-stopped
    volumes:
      - ./kb:/nika/kb
      - kb-binary:/nika/kb.bin
      - ./repo.path:/nika/repo.path
      - ./nika.ini:/nika/nika.ini
    networks:
      - nika
    ports:
      - "8090:8090"
    expose:
      - 8090
    healthcheck:
      test: "python3 /nika/problem-solver/sc-machine/scripts/healthcheck.py"
      interval: 5s
      timeout: 10s
      retries: 6
      start_period: 120s
    environment:
      # Use the commented env variable if you need to rebuild KB every startup.
      - "REBUILD_KB=1"
      - "BINARY_PATH=/nika/bin"
      - "BUILD_PATH=/nika/build"
      - "CONFIG_PATH=/nika/nika.ini"
      - "KB_PATH=../repo.path"
    command:
      - "serve"

  nika-ui:
    image: ostis/nika-ui:latest
    build:
      context: ./interface
      dockerfile: ./Dockerfile
    container_name: nika-ui
    restart: unless-stopped
    ports:
      - "3033:8080"
    networks:
      - nika
    environment:
      - SOCKET_URL=ws://problem-solver:8090
      - SC_URL=ws://problem-solver:8090
      - SC_WEB_URL=http://web:8000
    depends_on:
      - web

  py-sc-server:
    build:
      context: ./
      dockerfile: ./problem-solver/py/Dockerfile
    container_name: py-sc-server
    restart: unless-stopped
    depends_on:
      problem-solver:
        condition: service_healthy
    command:
      - "--host=problem-solver"
    networks:
      - nika

volumes:
  kb-binary: {}

networks:
  nika: {}
