site_name: NIKA

dev_addr: 127.0.0.1:8002

extra_css:
  - _assets/main.css
extra_javascript:
  - _assets/scg.min.js
  - _assets/main.js

nav:
  - Home: index.md
  - Build:
    - Build with Docker: build/docker-build.md
    - Build with Linux: build/linux-build.md
  - Development:
    - Git-workflow: dev/git-workflow.md
    - Pull requests: dev/pr.md
    - Codestyle: dev/codestyle.md
    - Project structure: dev/project_structure.md
  - Agents:
    - Message reply agent: agents/messageReplyAgent.md
    - Non-atomic action interpretation agent: agents/nonAtomicActionInterpretationAgent.md
    - Message topic classification agent: agents/messageTopicClassificationAgent.md
    - Standard message reply agent: agents/standardMessageReplyAgent.md
    - Change interface color agent: agents/changeInterfaceColorAgent.md
  - Subsystems:
     - scl-machine: subsystems/scl-machine.md
  - Changelog: changelog.md
  - Thirdparty: thirdparty.md
  - Licence: license.md

theme: material

markdown_extensions:
  - admonition
  - codehilite
  - pymdownx.details
  - pymdownx.superfences
