# Git
# .git - project uses submodules
.gitignore
.gitattributes
.github

# Docker
Dockerfile
docker-compose.yml
.dockerignore
.devcontainer

# Docs
docs

# macOS (optional)
.DS_Store

# IDEs (optional)
.vscode
.idea

# Node.js
node_modules
